<div class="dashboard-container">
    <!-- Header with balance -->
    <div class="header">
      <h2>Bonjour, {{userName}}!</h2>
      <div class="balance-card">
        <div class="solde">
            <h3>Solde</h3>
            <h2>FR {{ solde | number }}</h2>
        </div>
        <div class="solde">
            <h3>Plafond</h3>
            <h2>FR {{ plafond | number }}</h2>
        </div>
      </div>
    </div> 
  
    <!-- Action buttons -->
    <div class="actions-grid">
      <button class="action-button">
        <i class="fas fa-exchange-alt"></i>
        Topup
      </button>
      <button class="action-button" (click)="toggleTransferForm()">
        <i class="fas fa-paper-plane"></i>
        Transfer
      </button>
      <button class="action-button">
        <i class="fas fa-wallet"></i>
        Withdraw
      </button>
      <button class="action-button" (click)="toggleProfileMenu()">
        <i class="fas fa-ellipsis-h"></i>
        Profil
      </button>
  
      <!-- Modal for profile menu -->
      <div class="profile-menu" *ngIf="showProfileMenu" (clickOutside)="closeProfileMenu()">
        <button (click)="logout()">Déconnexion</button>
      </div>
    </div>

    <app-transfer 
      *ngIf="showTransferForm" 
      (transferSubmitted)="onTransferSubmitted()" 
      (closeTransfer)="toggleTransferForm()">
    </app-transfer>
  
    <!-- Transaction history -->
    <div class="transactions">
      <h3>Transaction History</h3>
      <div class="transaction-list">
        <div *ngFor="let notification of notifications" class="transaction-item">
          <div class="transaction-info">
            <span class="transaction-name">
              {{ notification.message }}
            </span>
            <span class="transaction-date">
              {{ notification.date | date:'d MMMM yyyy' }}
            </span>
          </div>
          <span class="transaction-amount">
            <!-- {{ notification.utilisateur._id ? '-' : '+' }} -->
          </span>
        </div>
      </div>
    </div>
  </div>
  